# EEP 153: Project 4
## Team Normal Borlaug: A Study of Uganda VS Tanzania

This Python notebook walks through all of our deliverables, so you can run it and check out how everything works in addition to verify we have met all of our deliverables. ***Click*** on the Table of Contents to be directed to any deliverable you want to see.

However, before you run *anything* please run these installs so that everything works properly!

In [1]:
# Run these installs!
!pip install CFE 
import cfe
import pandas as pd
import numpy as np

Requirement already satisfied: CFE in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (0.0.20)
Requirement already satisfied: linode-api4<6.0.0,>=5.2.0 in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from CFE) (5.13.1)
Requirement already satisfied: fire<0.5.0,>=0.4.0 in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from CFE) (0.4.0)
Requirement already satisfied: packaging in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from CFE) (22.0)
Requirement already satisfied: pip in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from CFE) (22.3.1)
Requirement already satisfied: six in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from fire<0.5.0,>=0.4.0->CFE) (1.16.0)
Requirement already satisfied: termcolor in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from fire<0.5.0,>=0.4.0->CFE) (2.3.0)
Requirement already satisfied: polling in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from linode-api4<6.0.0,>=5.2.0->CFE) (0.3.2)
Requirement already satisfied: requests in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from linode-api4<6.0.0,>=5.2.0->CFE) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from requests->linode-api4<6.0.0,>=5.2.0->CFE) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from requests->linode-api4<6.0.0,>=5.2.0->CFE) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from requests->linode-api4<6.0.0,>=5.2.0->CFE) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/vishalivallioor/anaconda3/lib/python3.10/site-packages (from requests->linode-api4<6.0.0,>=5.2.0->CFE) (2024.2.2)

## Table of Contents and Deliverables
1. <a href="#replicability-and-documentation"><span style="color:red;">[Deliverable 1.1[A]]</span> - Replicability and Documentation</a>
2. <a href="#document-goals"><span style="color:red;">[Deliverable 1.2[A]]</span> - Document Goals</a>
3. <a href="#unit-tests"><span style="color:red;">[Deliverable 1.3[A]]</span> - Unit Tests</a>
4. <a href="#choice-of-a-dataset"><span style="color:red;">[Deliverable 1.4[A]]</span> - Choice of a Dataset</a>
5. <a href="#estimate-demand-system"><span style="color:red;">[Deliverable 1.5[A]]</span> - Estimate Demand System</a>
6. <a href="#construct-nutrient-system"><span style="color:red;">[Deliverable 1.6[A]]</span> - Construct Nutrient System</a>
7. <a href="#nutritional-challenges-and-policy-goal"><span style="color:red;">[Deliverable 1.7[A]]</span> - Nutritional Challenges and Policy Goal</a>
8. <a href="#policy-options"><span style="color:red;">[Deliverable 1.8[B]]</span> - Policy Options</a>
9. <a href="#policy-cost"><span style="color:red;">[Deliverable 1.9[C]]</span> - Policy Cost</a>
10. <a href="#value-of-technical-innovation"><span style="color:red;">[Deliverable 1.10[C]]</span> - Value of Technical Innovation</a>
11. <a href="#replication-and-discussion"><span style="color:red;">[Deliverable 1.12[A]]</span> - Replication and Discussion</a>
12. <a href="#works-cited"><span style="color:red;"></span> Works Cited</a>

## [Deliverable 1.1[A] - Replicability and Documentation](#replicability-and-documentation)

## [Deliverable 1.2[A] - Document Goals](#document-goals)

## [Deliverable 1.3[A] - Unit Tests](#unit-tests)

## [Deliverable 1.4[A] - Choice of a Dataset](#choice-of-a-dataset)

For this project, we will focus on neighboring Eastern African countries, Tanzania and Uganda. As such, we will use the following datasets, from `csv`, originating from the LSMS data catalog from the [World Bank Dataset](https://microdata.worldbank.org/index.php/catalog/lsms/?page=1&ps=15&repo=lsms).

Datasets used include:
- `tanzania_expenditures_2019-2020.csv`
- `uganda_expenditures_2019-2020.csv`
- `tanzania_fct.csv`
- `uganda_fct.csv`
- `tanzania_food_prices_2019-2020.csv`
- `uganda_food_prices_2019-2020.csv`
- `tanzania_HH_characteristics.csv`
- `uganda_HH_characteristics.csv`
- `uganda_rdi.csv`

Run these lines of code to display each of them!

In [2]:
# Expenditure Data for Tanzania

tanzania_expenditure_df = pd.read_csv("data/tanzania/tanzania_expenditures_2019-2020.csv")
tanzania_expenditure_df.head(5)

,i,t,m,Cassava Fresh,Chicken,Cooking Oil,Leafy Greens,Millet & Sorghum (flour),Salt,Sugar,...,Cassava Dry/Flour,Yams/Cocoyams,"Butter, Etc.",Milk (dry or canned),Sweets,Seeds,Eggs,Nuts,Other Meat,Rice (paddy)
0,0001-001-001,2019-20,Mainland Rural,1500.00,10400.0,875.0,1757.142857,10500.000000,200.0,700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001-001-003,2019-20,Mainland Rural,1156.25,NaN,875.0,1415.476190,6000.000000,200.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001-001-004,2019-20,Dar Es Salaam,NaN,NaN,1800.0,NaN,NaN,200.0,1200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0001-004-001,2019-20,Mainland Rural,NaN,NaN,1050.0,410.000000,7500.000000,250.0,700.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0001-004-002,2019-20,Mainland Other Urban,NaN,NaN,1050.0,656.250000,7428.571429,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Nutritional Information of Foods for Tanzania

tanzania_fct_df = pd.read_csv("data/tanzania/tanzania_fct.csv")
tanzania_fct_df.head(5)

,j,Energy,Protein,Fiber,Folate,Calcium,Carbohydrate,Iron,Niacin,Riboflavin,Thiamin,Vitamin A,Vitamin B-12,Vitamin B-6,Vitamin C,Zinc
0,Cassava Fresh,1600,14.00,20.0,270,160,381.00,3.00,8.540,0.48,0.870,10,0.0,0.880,206.0,3.00
1,Chicken,2390,273.00,0.0,50,150,0.00,13.00,84.870,1.68,0.630,480,3.0,4.000,0.0,19.00
2,Cooking Oil,8840,0.00,0.0,0,0,0.00,0.00,0.000,0.00,0.000,0,0.0,0.000,0.0,0.00
3,Leafy Greens,22,1.09,0.0,0,40,4.07,0.32,0.375,0.00,0.082,0,0.0,0.071,15.2,0.31
4,Millet & Sorghum (flour),3740,109.00,90.0,840,80,721.00,30.00,46.680,2.87,4.160,0,0.0,3.800,0.0,17.00

In [4]:
# Tanzania Price Data

tanzania_p_df = pd.read_csv("data/tanzania/tanzania_food_prices_2019-2020.csv")
tanzania_p_df.head(5)

,Unnamed: 0,Unnamed: 1,2019-20,2019-20.1,2019-20.2,2019-20.3
0,j,u,Dar Es Salaam,Mainland Other Urban,Mainland Rural,Zanzibar
1,Beef,kg,6000,6000,6000,9000
2,Bottled Beer,kg,4285.714286,4000,4000,NaN
3,Bottled Beer,piece,NaN,NaN,NaN,NaN
4,Bread,kg,2211.111111,2222.222222,2000,2000

In [5]:
# Tanzania Household Characteristics

tanzania_hh_char_df = pd.read_csv("data/tanzania/tanzania_HH_characteristics.csv")
tanzania_hh_char_df.head(5)

,i,t,m,M 00-03,F 00-03,M 04-08,F 04-08,M 09-13,F 09-13,M 14-18,F 14-18,M 19-30,F 19-30,M 31-50,F 31-50,M 51+,F 51+,log HSize
0,0001-001-001,2019-20,Mainland Rural,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0.693147
1,0001-001-003,2019-20,Mainland Rural,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0.000000
2,0001-001-004,2019-20,Dar Es Salaam,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0.000000
3,0001-004-001,2019-20,Mainland Rural,1,0,0,0,0,0,0,0,1,1,0,0,0,0,1.098612
4,0001-004-002,2019-20,Mainland Other Urban,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.000000

In [6]:
# Expenditure Data for Uganda

uganda_expenditure_df = pd.read_csv("data/uganda/uganda_expenditures_2019-2020.csv")
uganda_expenditure_df.head(5)

,i,t,m,Beans,Beef,Beer,Biscuits,Bongo,Bread,"Butter, etc.",...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
0,00c9353d8ebe42faabf5919b81d7fae7,2019-20,Eastern,3600.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4000.0,200.0,1000.0,NaN,NaN,NaN,3000.0,NaN
1,062da72d5d3a457e9336b62c8bb9096d,2019-20,Eastern,NaN,NaN,NaN,NaN,NaN,500.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0d0e29faff394154a69562b4527b48b8,2019-20,Eastern,1000.0,4500.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,800.0,NaN,NaN,NaN,NaN,NaN
3,0e03e253c35d4333a1ffad2df9d38850,2019-20,Eastern,2800.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5000.0,200.0,500.0,NaN,NaN,NaN,NaN,NaN
4,1013000201,2019-20,Central,NaN,NaN,17500.0,NaN,NaN,NaN,NaN,...,NaN,2000.0,NaN,400.0,2100.0,NaN,NaN,NaN,NaN,NaN

In [7]:
# Food Nutrition Data for Uganda

uganda_fct_df = pd.read_csv("data/uganda/uganda_fct.csv")
uganda_fct_df.head(5)

,j,Energy,Protein,Fiber,Folate,Calcium,Carbohydrate,Iron,Niacin,Riboflavin,Thiamin,Vitamin A,Vitamin B-12,Vitamin B-6,Vitamin C,Zinc
0,Avocado,1600,20.0,70.0,810,120,85.0,6.0,17.38,1.30,0.67,70,0.0,2.57,100,6.0
1,Beans (dry),1700,98.0,60.0,500,580,325.0,30.0,7.00,1.20,3.40,0,0.0,2.15,10,8.0
2,Beans (fresh),3470,214.0,160.0,5250,1130,626.0,51.0,11.74,2.12,7.13,0,0.0,4.74,63,23.0
3,Beef,2510,182.0,0.0,60,70,0.0,19.0,31.50,1.60,0.90,0,28.9,3.80,0,37.0
4,Beef (roasted),2910,264.0,0.0,70,90,0.0,27.0,37.20,2.20,0.90,0,24.7,3.40,0,60.0

In [8]:
# Uganda Food Prices Data

uganda_p_df = pd.read_csv("data/uganda/uganda_food_prices_2019-2020.csv")
uganda_p_df.head(5)

,t,m,Beans,Beef,Beer,Biscuits,Bongo,Bread,"Butter, etc.",Cabbages,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
0,2005-06,Central,650.000000,2500,3000.0,NaN,NaN,1400.0,3000.0,1400.0,...,NaN,54.054054,750.0,800.0,100.0,NaN,NaN,NaN,NaN,NaN
1,2005-6,Eastern,550.000000,2400,2000.0,NaN,NaN,1000.0,3300.0,1050.0,...,NaN,40.000000,200.0,800.0,100.0,NaN,NaN,NaN,NaN,NaN
2,2005-6,Northern,434.151414,2500,2400.0,NaN,NaN,1000.0,1500.0,1225.0,...,NaN,43.243243,200.0,800.0,100.0,NaN,NaN,NaN,NaN,NaN
3,2005-6,Western,500.000000,2200,2500.0,NaN,NaN,1000.0,3000.0,1050.0,...,NaN,41.621622,200.0,1000.0,200.0,NaN,NaN,NaN,NaN,NaN
4,2009-10,Central,1350.000000,5000,4000.0,NaN,NaN,2400.0,4800.0,1750.0,...,NaN,108.108108,1000.0,800.0,300.0,NaN,NaN,NaN,NaN,NaN

In [9]:
# Uganda Household Characteristics

uganda_hh_char_df = pd.read_csv("data/uganda/uganda_HH_characteristics.csv")
uganda_p_df.head(5)

,t,m,Beans,Beef,Beer,Biscuits,Bongo,Bread,"Butter, etc.",Cabbages,...,Sugarcane,Sweet Bananas,Sweet Potatoes,Tea,Tomatoes,Waragi,Water,Wheat (flour),Yam,Yogurt
0,2005-06,Central,650.000000,2500,3000.0,NaN,NaN,1400.0,3000.0,1400.0,...,NaN,54.054054,750.0,800.0,100.0,NaN,NaN,NaN,NaN,NaN
1,2005-6,Eastern,550.000000,2400,2000.0,NaN,NaN,1000.0,3300.0,1050.0,...,NaN,40.000000,200.0,800.0,100.0,NaN,NaN,NaN,NaN,NaN
2,2005-6,Northern,434.151414,2500,2400.0,NaN,NaN,1000.0,1500.0,1225.0,...,NaN,43.243243,200.0,800.0,100.0,NaN,NaN,NaN,NaN,NaN
3,2005-6,Western,500.000000,2200,2500.0,NaN,NaN,1000.0,3000.0,1050.0,...,NaN,41.621622,200.0,1000.0,200.0,NaN,NaN,NaN,NaN,NaN
4,2009-10,Central,1350.000000,5000,4000.0,NaN,NaN,2400.0,4800.0,1750.0,...,NaN,108.108108,1000.0,800.0,300.0,NaN,NaN,NaN,NaN,NaN

In [10]:
# Uganda's RDIs, but we use as a comparison point for both Uganda and Tanzania.

rdi_df = pd.read_csv("data/uganda/uganda_rdi.csv")
rdi_df.head(5)

,n,F 00-03,M 00-03,F 04-08,M 04-08,F 09-13,M 09-13,F 14-18,M 14-18,F 19-30,M 19-30,F 31-50,M 31-50,F 51+,M 51+
0,Energy,1000.0,1000.0,1200.0,1400.0,1600.0,1800.0,1800.0,2200.0,2000.0,2400.0,1800.0,2200.0,1600.0,2000.0
1,Protein,13.0,13.0,19.0,19.0,34.0,34.0,46.0,52.0,46.0,56.0,46.0,56.0,46.0,56.0
2,Fiber,14.0,14.0,16.8,19.6,22.4,25.2,25.2,30.8,28.0,33.6,25.2,30.8,22.4,28.0
3,Folate,150.0,150.0,200.0,200.0,300.0,300.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0,400.0
4,Calcium,700.0,700.0,1000.0,1000.0,1300.0,1300.0,1300.0,1300.0,1000.0,1000.0,1000.0,1000.0,1200.0,1000.0

## [Deliverable 1.5[A] - Estimate Demand System](#estimate-demand-system)

In [2]:
# Reading in pickled data

result_uganda = cfe.regression.read_pickle("uganda.pickle")
result_tanzania = cfe.regression.read_pickle("tanzania.pickle")

## [Deliverable 1.6[A] - Construct Nutrient System](#construct-nutrient-system)

## [Deliverable 1.7[A] - Nutritional Challenges and Policy Goal](#nutritional-challenges-and-policy-goal)

## [Deliverable 1.8[B] - Policy Options](#policy-options)

## [Deliverable 1.9[C] - Policy Cost](#policy-cost)

## [Deliverable 1.10[C] - Value of Technical Innovation](#value-of-technical-innovation)

## [Deliverable 1.12[A] - Replication and Discussion](#replication-and-discussion)

## [Works Cited](#works-cited)